<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Blun.ConfigurationManager" version="1.0.5686.2674" targetFramework="net461" />
  <package id="ExtentReports" version="2.41.0" targetFramework="net461" />
  <package id="NUnit" version="3.10.1" targetFramework="net461" />
  <package id="NUnit3TestAdapter" version="3.10.0" targetFramework="net461" />
  <package id="NUnitTestAdapter" version="2.1.1" targetFramework="net461" />
  <package id="Selenium.Chrome.WebDriver" version="2.38" targetFramework="net461" />
  <package id="Selenium.Support" version="3.12.0" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="3.12.0" targetFramework="net461" />
  <package id="Selenium.WebDriver.ChromeDriver" version="2.38.0.1" targetFramework="net461" />
  <package id="System.Configuration.ConfigurationManager" version="4.4.1" targetFramework="net461" />
</packages>